ul {
    padding-left: 0;

    li {
        border: 0;
    }
}

img { 
    width: auto;
    max-width: 100%;
    height: auto;
}

input,  
textarea {  
    @include input-placeholder {
        color: $placeholder-color;
    }
}

textarea {
  resize: vertical;
}