body {
    font-family: 'Montserrat', sans-serif;
}

p, h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

hr {
    border-color: #c7252c;
}

a.envira-pagination-load-more {
    display: block;
    
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    background-color: #cacaca !important;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-radius: .25rem;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}

span.wpcf7-not-valid-tip {
    color: #edc8c8;
}
div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
    border: 2px solid #c7252c;
    background-color: #edc8c8;
}